{% extends "base.html" %}

{% block content %}

<h1>Welcome to DevOps Learning Portal</h1>

<p>
My personal knowledge portal for DevOps, Cloud, AI and Software Engineering.
</p>

<div class="row">

    <div class="col-md-4">

        <div class="card">

            <div class="card-body">

                <h5>Current Focus</h5>

                <ul>
                    <li>Python</li>
                    <li>Linux</li>
                    <li>Git</li>
                </ul>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card">

            <div class="card-body">

                <h5>Upcoming Topics</h5>

                <ul>
                    <li>Docker</li>
                    <li>Kubernetes</li>
                    <li>Terraform</li>
                </ul>

            </div>

        </div>

    </div>

</div>

{% endblock %}
