{% extends "base.html" %}

{% block content %}

<h1>Welcome to DevOps Learning Portal</h1>

<div class="row">

    <div class="col-md-6">

        <div class="card">

            <div class="card-body">

                <h4>Current Focus</h4>

                <ul>

                {% for topic in dashboard.current_focus %}

                    <li>{{ topic }}</li>

                {% endfor %}

                </ul>

            </div>

        </div>

    </div>

    <div class="col-md-6">

        <div class="card">

            <div class="card-body">

                <h4>Upcoming Topics</h4>

                <ul>

                {% for topic in dashboard.upcoming_topics %}

                    <li>{{ topic }}</li>

                {% endfor %}

                </ul>

            </div>

        </div>

    </div>

</div>

{% endblock %}
