{% extends "base.html" %}

{% block content %}

<h1>Learning Roadmaps</h1>

<div class="row">

{% for roadmap in roadmaps %}

    <div class="col-md-4 mb-3">

        <div class="card">

            <div class="card-body">

		 <h5>{{ roadmap.name }}</h5>

   		<p>Status: {{ roadmap.status }}</p>

    		<div class="progress">

       			 <div class="progress-bar"
            		 role="progressbar"
            		 style="width: {{ roadmap.progress }}%">

            		{{ roadmap.progress }}%

       		 </div>

    	</div>

	</div>
        </div>

    </div>

{% endfor %}

</div>

{% endblock %}
